<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <connectionStrings>

    <!--<add name="CON1" connectionString="Data Source=localhost;Initial Catalog=upaudit;User ID=sa;Password=admin#123;" providerName="System.Data.SqlClient" />-->

    <add name="CON1" connectionString="Data Source=103.224.241.173;Initial Catalog=upaudit;User ID=upauditsa;Password=admin#123;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>



  </appSettings>

  <system.web>
    <machineKey validationKey="1234567890123456789012345678901234567890AAAAAAAAAA"
   decryptionKey="123456789012345678901234567890123456789012345678"
   validation="SHA1" decryption="Auto" />

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.mshtml, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>



      </assemblies>
      <buildProviders>

      </buildProviders>
      <codeSubDirectories>
        <add directoryName="VB" />

      </codeSubDirectories>
    </compilation>
    <pages theme="UPAuditTheme" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"></pages>
    <httpHandlers>
      <add verb="GET" path="*.ttf" type="System.Web.StaticFileHandler" />
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />

    </httpHandlers>
    <httpModules>

    </httpModules>
    <!--<customErrors mode="On" defaultRedirect="ErrorPage.aspx?handler=customErrors%20section%20-%20Web.config">
      <error statusCode="404" redirect="ErrorPage.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config"/>
    </customErrors>-->
    <customErrors mode="Off">
    </customErrors>
    <authentication mode="None"></authentication>

    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="525600" stateNetworkTimeout="525600" />
    <httpRuntime minFreeThreads="12" minLocalRequestFreeThreads="12" executionTimeout="525600" />


    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en" />
    <identity impersonate="false" />


  </system.web>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="False" />
    </defaultProxy>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

    </handlers>



    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>

  </system.webServer>

</configuration>
